.imagefix {
    height: 65vh;
    padding-left: 23rem;
}

.App{
    margin-top: 120px;
    align-items: center;
}
/* 
@media screen and (min-width: 300px) {
    .imagefix {
        width: 20;
        height:40vh;
        padding-left: 0rem;
    }
    .App{
        margin-top: 8px;
        align-items: center;
    }
}
@media screen and (min-width: 980px) {
    .imagefix {
        width: 50;
        height: 20vh;
        padding-left: 20rem;
    }
    .App{
        margin-top: 80px;
        align-items: center;
    }
}

@media screen and (min-width: 400px) {
    .imagefix {
        width: 30;
        height:30vh;
        padding-left: 2rem;
    }
    .App{
        margin-top: 8px;
        align-items: center;
    }
}

@media screen and (min-width: 350px) {
    .imagefix {
        width: 20;
        height:30vh;
        padding-left: 0rem;
    }
    .App{
        margin-top: 8px;
        align-items: center;
    }
}

@media screen and (min-width: 750px) {
    .imagefix {
        width: 20;
        height:50vh;
        padding-left: 0rem;
    }
    .App{
        margin-top: 8px;
        align-items: center;
    }
}

@media screen and (min-width: 1000px) {
    .imagefix {
        width: 40;
        height:30vh;
        padding-left: 0rem;
    }
    .App{
        margin-top: 50px;
        align-items: center;
    }
}

@media screen and (min-width: 500px) {
    .imagefix {
        width: 40;
        height:50vh;
        padding-left: 0rem;
    }
    .App{
        margin-top: 20px;
        align-items: center;
    }
}

@media screen and (min-width: 250px) {
    .imagefix {
        width: 40;
        height:25vh;
        padding-left: 1.2rem;
    }
    .App{
        margin-top: 20px;
        align-items: center;
    }
} */