.container__color{
    background: grey;
    background-attachment: fixed;
    padding: 2rem;
    width: 100%;
}

.colorfortitle{
    margin-bottom: 20px;
    text-align: center;
}

.roofContainer{
    display: flex;
    flex-wrap: wrap;
    width: 55%;
    margin-bottom: 20px;
    margin: auto;
    justify-content: center;
    justify-items: center;
    
}

.roofContainer_list{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 10px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-top: 20px;
    
}

.roofContainer_list img{
    width: 100%;
    height: 100%;
    
}

.roofContainer_list:hover{
    cursor: pointer;
    transform: scale(1.1);
    opacity: 0.5;
    filter: drop-shadow(20px);
}

.modalContainer{
    width: 50%;
    height: 44vh;
    position: fixed;
    top: 27%;
    left: 32%;
    z-index: 10;
    transition: all 15s ease-in-out;
    background: rgba(0,0,0,0.8);
    cursor: pointer;
    border-radius: 10px;
    }

.modalContainer img{
   width: 100%;
   height: 100%;
   background-size: cover;
   background-position: center;
   cursor: pointer;
}
@media (max-width: 960px){
.thumb{
    overflow: scroll;
}
.roofContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width : 100%;
}
}