@media screen and (max-width: 960px) {
    .para-text{
    color:black;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    font-family: 'PT Sans', sans-serif;
}}
.title{
    color:red;
    font-size: 2em;
}
.aligncenter{
    text-align: center;
    padding-top: 5%;
}
.spacing{
    padding-right: 4%;
    padding-left: 4%;
}
@media screen and (min-width: 1024px) {
    .para-text{
        color:black;
        margin-left: auto;
        margin-right: auto;
        font-size: 20px;
}
.knowMore{
    margin-left: 3%;
}
}

@media screen and (min-width: 980px) {
    .para-text{
        color:black;
        margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    font-family: 'PT Sans', sans-serif;
    }
    }
.home__container{
    background: white;
}